ion-icon.menuitem {
    font-size: 120px;
}
#policies 
{
     ion-col{
        padding: 0em;
        ion-card{
            margin: 0px;
            width:100%;
            height:100%;
            padding:0em;   
            p.pad,button{
                margin-top:20%;
                margin-bottom:30%;
            }
            ion-card-content{
                width:100%;
                height:150px; 
                padding:0em;  
                border-width: 0px;
                margin:0em             
            }
            img.image100{
                height:100%;
                width:auto;
            }
           
        }
    }
    ion-col.callout {        
        position: relative;
        border-radius: 3px;
        height:calc(100% - 25px);
        /*box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;*/       
    }
    .maroon-light,.maroon-light ion-col.callout,.maroon-light ion-col.callout ion-card-content{
        background-color: #ce5d37;
        background-image: -moz-linear-gradient(top, #ce5d37, #ce5d37);        
        border-color: #ce5d37 !important;
    }
    .maroon,.maroon ion-col.callout, .maroon ion-col.callout ion-card-content{
        background-color: #9e3437;
        background-image: -moz-linear-gradient(top, #9e3437, #9e3437);        
        border-color: yellow !important;
        border:none;
    }
    ion-row.maroon,item-row.maroon ion-card{
        background:#9e3437  !important
        ;border:none;
    }
     ion-row.maroon-light, item-row.maroon-light ion-card{
        background:#ce5d37 !important;
        border:none;
    }
    .callout.left{
        padding-right: 0px;        
    }
    .callout.right{
        padding-left: 0px;
        border:none;        
    }
    .callout::before {
        content: "";
        width: 0px;
        height: 0px;
        border: 0.8em solid transparent;
        position: absolute;
    }
    
    .callout.top::before {
        left: 45%;
        bottom: -20px;
        border-top: 10px solid #444;
    }

    .callout.bottom::before {
        left: 45%;
        top: -20px;
        border-bottom: 10px solid #444;
    }

    .maroon-light .callout.left::before {
        right: -20px;
        top: 40%;
        border-left: 10px solid #ce5d37;
    }

    .maroon .callout.right::before {
        left: -20px;
        top: 40%;
        border-right: 10px solid #9e3437;
    }

    .maroon-light .callout.left::before {
        right: -20px;
        top: 40%;
        border-left: 10px solid #ce5d37;
    }

     .maroon .callout.right::before {
        left: -20px;
        top: 40%;
        border-right: 10px solid #9e3437;
    }
    .callout.top-left::before {
        left: 7px;
        bottom: -20px;
        border-top: 10px solid #444;
    }

    .callout.top-right::before {
        right: 7px;
        bottom: -20px;
        border-top: 10px solid #444;
    }
    .callout ion-card{
        padding:0em;  
        border: none;   
        box-shadow: none;
        p{
            color:white;
            text-decoration: none;
           text-shadow: none;
        }       
    }
}