<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>View Available Policies</ion-title>
  </ion-navbar>
</ion-header>
<ion-content scroll="true" id="policies">
  <ion-grid>
  <ion-row  *ngFor="let product of products;let in = index"  [class]="in%2==1 ? 'maroon' : 'maroon-light'">
    <ion-col [class]="in%2==1 ? '':'callout left'" no-padding>
      <ion-card no-padding>
       <ion-card-content text-center no-padding>
          <img class="image100" [src]="product.ProductImgURL" *ngIf="in%2==1">                 
          <p *ngIf="in%2==0" style="color:white;text-shadow:none"><br>{{product.PrdDesc}}</p>
          <button ion-button color="secondary"  outline *ngIf="in%2==0"  (click)="viewPolicy(product)">Get Started</button>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col no-padding  [class]="in%2==1 ? 'callout right':''">
        <ion-card  no-padding>
          <ion-card-content text-center no-padding>
              <img class="image100" [src]="product.ProductImgURL" *ngIf="in%2==0">                 
              <p *ngIf="in%2!==0" style="color:white"><br>{{product.PrdDesc}}</p>
              <button ion-button color="secondary" outline *ngIf="in%2!==0" (click)="viewPolicy(product)">Get Started</button>
          </ion-card-content>
        </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
