ion-icon.menuitem {
    font-size: 90px;
}
#dashboard 
{
    ion-col{
        padding: 0em;
        ion-card{
            margin: 1px 1px 1px 1px;
            width:calc(100% - 2px);
            height:100%;
            p{
                 
            }
        }
    }
}