<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>
<ion-content scroll="true" id="dashboard">
  <ion-grid>
  <ion-row  color="secondary">
    <ion-col>
      <ion-card no-padding (click)="itemTapped($event,items[0])">
       <ion-card-content text-center>
          <ion-icon name="list-box" class="menuitem"></ion-icon>
          <p>Generate a Quote</p>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col no-padding>
        <ion-card  no-padding (click)="itemTapped($event,items[1])">
          <ion-card-content text-center>
              <ion-icon name="briefcase" class="menuitem"></ion-icon>
              <p>My Policies</p>
          </ion-card-content>
        </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-card (click)="itemTapped($event,items[1])">
       <ion-card-content text-center>
            <ion-icon name="logo-buffer"  class="menuitem"></ion-icon>
            <p>Available Policies</p>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col>
        <ion-card (click)="itemTapped($event,items[1])">
          <ion-card-content text-center>
              <ion-icon name="person"  class="menuitem"></ion-icon>
              <p>My Profile</p>
          </ion-card-content>
        </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <ion-card (click)="itemTapped($event,items[1])">
       <ion-card-content text-center>
          <ion-icon name="calculator"  class="menuitem"></ion-icon>
            <p>Calculators</p>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col>
        <ion-card>
          <ion-card-content text-center (click)="itemTapped($event,items[1])">
              <ion-icon name="chatbubbles"   class="menuitem"></ion-icon>
              <p>Notifications</p>
          </ion-card-content>
        </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
