<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Product Overview</ion-title>
  </ion-navbar>
</ion-header>
<ion-content scroll="true">
  <ion-card style="position:relative;text-align: center;background-color:#f00" [style.background-color]="policy.color">
      <img [src]="policy.ProductImgURL" [style.opacity]='0.5'>
        <div style="position: absolute  !important;
        top: 36%  !important;
        font-size: 2.0em  !important;
        width: 100%  !important;
        font-weight: bold  !important;
        color: #fff  !important;">
          {{policy.PrdDesc}}
        </div>
  </ion-card>
  <ion-row>
      <ion-col style="padding:1em !important">{{policy.DetailedDescription}}</ion-col>
  </ion-row>
</ion-content>
<ion-footer>
  <ion-toolbar  color="primary" text-center>
    <ion-row>
      <ion-col>
      </ion-col>
      <ion-col>
        <button ion-button (click)="next()" color="secondary" block>
          Proceed
        </button>
      </ion-col>
      <ion-col>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
