<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Policy View</ion-title>
  </ion-navbar>
</ion-header>
<ion-content scroll="true" id="policy">
  <ion-card>
      <img [src]="policy.ProductImgURL">
      <ion-card-content>
        <ion-card-title>
          {{policy.PrdDesc}}
      </ion-card-title>
      <p>{{policy.DetailedDescription}}</p>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar  color="primary" text-center>
    <ion-row>
      <ion-col>
        <button ion-button (click)="next()" color="white" outline>
          Get Quote
        </button>
      </ion-col>
      <ion-col>
        <button ion-button (click)="next()" color="secondary" block>
          Subscribe
        </button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
