<ion-header>
  <ion-navbar color="primary">
    <ion-buttons left>
      <button ion-button (click)="goBack()" icon-only>
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title class="long-title">Complete  your profile details</ion-title>      
  </ion-navbar>
</ion-header>
<ion-content padding>
    <form (ngSubmit)="next()"  [formGroup]="form">
      <ion-list>
        <ion-item text-wrap> 
          <ion-label stacked>Document Type</ion-label>
          <ion-select formControlName="documentType" text-left>
            <ion-option class="disabled" value="" disabled selected hidden *ngIf="form.value.documentType=='' || form.value.documentType===undefined">Select a Document Type</ion-option>        
            <ion-option value="nes">National ID</ion-option>
            <ion-option value="n64">Passport</ion-option>
            <ion-option value="ps">Travel Pass</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label floating>Document Number</ion-label>
            <ion-input type="text"  formControlName="documentNumber"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>Solution</ion-label>
          <ion-select  formControlName="solution">
            <ion-option value="nes">Solution 1</ion-option>
            <ion-option value="nes2">Solution 2</ion-option>
            <ion-option value="nes3">Solution 3</ion-option>
            <ion-option value="nes4">Solution 4</ion-option>
            <ion-option value="nes5">Solution 5</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
            Gender
        </ion-item>
        <ion-item>
          <ion-list radio-group formControlName="gender" inset>         
            <ion-item>
              <ion-label>Male</ion-label>
              <ion-radio value="male"></ion-radio>
            </ion-item>
            <ion-item>
              <ion-label>Female</ion-label>
              <ion-radio value="female"></ion-radio>
            </ion-item>
          </ion-list>
        </ion-item>
        <ion-item>
          Personal Details
        </ion-item>
        <ion-item>
          <ion-label floating>Surname</ion-label>
            <ion-input type="text" formControlName="surname"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Other name</ion-label>
            <ion-input type="text" formControlName="othername"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label stacked>Nationality</ion-label>
          <ion-select formControlName="nationality">
            <ion-option value="nes">Kenya</ion-option>
            <ion-option value="nes4">Uganda</ion-option>
            <ion-option value="5">Blash</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label stacked>Marital Status</ion-label>
          <ion-select formControlName="maritalStatus">
            <ion-option value="nes">Single</ion-option>
            <ion-option value="nes1">Married</ion-option>
            <ion-option value="2">Divorced</ion-option>
            <ion-option value="3">Widowed</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label stacked>Occupation</ion-label>
          <ion-select formControlName="occupation">
            <ion-option value="nes4">Occupation 1</ion-option>
            <ion-option value="nes5">Occupation 1</ion-option>
            <ion-option value="nes7">Occupation 1</ion-option>
            <ion-option value="nes8">Very long Occupation , Occupation 1</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label floating>Payroll Number</ion-label>
            <ion-input type="text" formControlName="payrollNo"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label floating>Employer name</ion-label>
            <ion-input type="text"  formControlName="employer"></ion-input>
        </ion-item>
      </ion-list>
    </form>
</ion-content>
<ion-footer>
  <ion-toolbar  color="primary" text-center>
    <button ion-button (click)="next()" color="secondary">
      Next  &nbsp; &nbsp;<ion-icon name="ios-arrow-dropright-circle" item-right></ion-icon>
    </button>
  </ion-toolbar>
</ion-footer>
