<ion-content padding class="access-bg">
    <ion-row>
      <ion-col  text-center>
        <img src="assets/images/CIC-logo.png" style="margin:auto;max-height:100px;height:100px;width:auto;"/>
      </ion-col>
    </ion-row>
    <ion-card>
      <ion-card-content>
        <div>
          <ion-segment class="segment-ios" [(ngModel)]="onboard">
            <ion-segment-button value="signin">
              SIGN IN
            </ion-segment-button>
            <ion-segment-button value="signup">
              SIGN UP
            </ion-segment-button>
          </ion-segment>
        </div>
      </ion-card-content>
      <ion-item class="item-profile" text-center>
        <div class="item-avatar">
          <img src="assets/images/adduser.png">
        </div>
      </ion-item> 
      <div [ngSwitch]="onboard" class="onboard">
        <div *ngSwitchCase="'signin'">
          <ion-list inset>
            <ion-item>
              <ion-label floating>Username</ion-label>
              <ion-input type="text"></ion-input>
            </ion-item>
              <ion-item>
                <ion-label floating>Password</ion-label>
                <ion-input type="password"></ion-input>
              </ion-item>
          </ion-list>
          <ion-row>
              <ion-col>
                <button ion-button block color="secondary">SIGN IN</button>
              </ion-col>
          </ion-row>
        </div>
        <div *ngSwitchCase="'signup'">
            <ion-list inset>
              <ion-item>
                  <ion-label floating>Username</ion-label>
                  <ion-input type="text"></ion-input>
              </ion-item>
              <ion-item>
                <ion-label floating>Email</ion-label>
                <ion-input type="email"></ion-input>
              </ion-item>        
              <ion-item>
                <ion-label floating>Password</ion-label>
                <ion-input type="password"></ion-input>
              </ion-item>
            </ion-list>
            <ion-row>
                <ion-col>
                  <button ion-button block color="secondary" (click)="signupNext()">SIGN UP</button>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                  <hr color="primary"/>
                </ion-col>
                <ion-col text-center>
                  OR SIGN UP WITH
                </ion-col>
                <ion-col>
                  <hr/>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col text-center>
                  <button ion-button icon-left color="twitter" small>
                    <ion-icon name="logo-twitter"></ion-icon>
                    Twitter
                  </button> 
                  <button ion-button icon-left  color="facebook" small>
                    <ion-icon name="logo-facebook"></ion-icon>
                    Facebook
                  </button>
                </ion-col>
            </ion-row>
        </div>
      </div>
    </ion-card>
</ion-content>
