ion-item.item-label-floating1{
     background: #cef;
 }
 .access-bg{
    background-image: linear-gradient(rgba(158,52,55,0.6),rgba(158,52,55,0.6)),
    url("../assets/images/Splash.png");
    background-image: -webkit-linear-gradient(rgba(158,52,55,0.6),rgba(158,52,55,0.6)),
        url("../assets/images/Splash.png");
    background-image: -moz-linear-gradient(rgba(158,52,55,0.6),rgba(158,52,55,0.6)),
        url("../assets/images/Splash.png");
    background-image: -o-linear-gradient(rgba(158,52,55,0.6),rgba(158,52,55,0.6)),
        url("../assets/images/Splash.png"); 
    background-size:auto;
    background-position: 0px,0px;
    background-repeat: none;
 }
 .item-profile {
  height: 80px;
  text-align: center;
}
.item-profile .item-avatar {
    margin:auto;
    width: 70px;
    height: 70px;
    padding:20;
    border-radius: 50%;
    border: 2px solid #aeaeae;
    background: #efefef;
  }
.item-profile .item-avatar > img{
    width: 30px;
    height: 30px;
    margin:20px;
  }

  .onboard ion-input.input-md{
      border-bottom:1px solid gray;
  }