ion-icon.menuitem {
    font-size: 120px;
}
#products 
{
    ion-col{
        padding: 0em;
        ion-card{
            margin: 1px 1px 1px 1px;
            width:calc(100% - 2px);
            height:100%;
            p.pad,button{
                margin-top:20%;
                margin-bottom:30%;
            }
        }
    }
    ion-col.callout {
        background-color: #444;
        background-image: -moz-linear-gradient(top, #444, #444);
        position: relative;
        border-radius: 3px;
        /*box-shadow: 0px 0px 20px #999;*/
        width:calc(100% - 25px);
        height:calc(100% - 25px);
        text-shadow: 0 0 1px #000;
        
        /*box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;*/
    }
    .callout.left{
        padding-right: 10px;        
    }
    .callout.right{
        padding-left: 10px;        
    }
    .callout::before {
        content: "";
        width: 0px;
        height: 0px;
        border: 0.8em solid transparent;
        position: absolute;
    }
    
    .callout.top::before {
        left: 45%;
        bottom: -20px;
        border-top: 10px solid #444;
    }

    .callout.bottom::before {
        left: 45%;
        top: -20px;
        border-bottom: 10px solid #444;
    }

    .callout.left::before {
        right: -20px;
        top: 40%;
        border-left: 10px solid #444;
    }

    .callout.right::before {
        left: -20px;
        top: 40%;
        border-right: 10px solid #444;
    }

    .callout.top-left::before {
        left: 7px;
        bottom: -20px;
        border-top: 10px solid #444;
    }

    .callout.top-right::before {
        right: 7px;
        bottom: -20px;
        border-top: 10px solid #444;
    }
}