<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Available Policies</ion-title>
  </ion-navbar>
</ion-header>
<ion-content scroll="true" id="products">
  <ion-grid>
  <ion-row  color="secondary" *ngFor="let product of products;let in = index">
    <ion-col [class]="in%2==1 ? '':'callout left'">
      <ion-card no-padding>
       <ion-card-content text-center>
          <ion-icon name="list-box" class="menuitem" *ngIf="in%2==1"></ion-icon>
          <p [innerHTML]="in%2!=1 ? product.PrdDesc : '<br/>'" [class]="in%2!=1 ? 'pad' : ''"></p>
          <button ion-button *ngIf="in%2!=1" outline>Get Started</button>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <ion-col no-padding  [class]="in%2==1 ? 'callout right':''">
        <ion-card  no-padding>
          <ion-card-content text-center>
              <ion-icon name="briefcase" class="menuitem"  *ngIf="in%2!=1"></ion-icon>
              <p [innerHTML]="in%2==1 ? product.PrdDesc : '<br/>'" [class]="in%2!=1 ? '':'pad'"></p>
              <button ion-button *ngIf="in%2==1" outline>Get Started</button>
          </ion-card-content>
        </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
