<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Generate a Quote</ion-title>
  </ion-navbar>
</ion-header>
<ion-content scroll="true" id="generate-quote">
  <ion-item>Choose a product from the list below</ion-item>
  <ion-grid no-padding>
    <ion-row  no-padding wrap>
      <ion-col  *ngFor="let product of products;let in = index" width-50>
            <ion-card no-padding [style.background-color]="product.color" text-center cards-bg social-cards>
              <ion-card-content text-center>
                  <ion-card-title style="color:white">
                    {{product.PrdDesc}}
                  </ion-card-title>              
              </ion-card-content>
              <ion-row>
                <ion-col>
                  <button ion-button color="white" outline (click)="next(product)">Get a Quote</button>
                </ion-col>
              </ion-row>
            </ion-card>
        </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>