page-generate-quote{
    ion-col{
        ion-card{
            height:100%;
            width:100% !important;
            margin:0em !important;
            ion-card-content{
                width:100% !important;   
                ion-card-title{
                    font-size:13pt !important;
                    min-height:3em !important;
                }             
            }
            ion-card-header {
                word-wrap: break-word !important;
                text-overflow: auto;
                overflow-y:auto;

            }
        }
    }
}