<ion-header>
  <ion-navbar color="primary">
    <button ion-button (click)="goBack()" icon-only>
      <ion-icon name="ios-arrow-back"></ion-icon>
    </button>
    <ion-title class="long-title" >Complete your profile details</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
    <ion-list color="cream">
      <ion-list-header>
        CONTACT INFO
      </ion-list-header>
      <ion-item>
        <ion-label floating>Document Type</ion-label>
        <ion-select>
          <ion-option value="nes">National ID</ion-option>
          <ion-option value="n64">Passport</ion-option>
          <ion-option value="ps">Travel Pass</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label floating>Mobile Number</ion-label>
          <ion-input type="tel"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Alternate Number</ion-label>
          <ion-input type="tel"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Email Address</ion-label>
          <ion-input type="tel"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Physical Address</ion-label>
          <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Postal Address</ion-label>
          <ion-input type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Town</ion-label>
        <ion-select>
          <ion-option value="nes">Town 1</ion-option>
          <ion-option value="nes1">Town 2</ion-option>
          <ion-option value="nes2">Town 3</ion-option>
          <ion-option value="nes4">Town 4</ion-option>
          <ion-option value="nes5">Town 5</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label floating>Street</ion-label>
          <ion-input type="text"></ion-input>
      </ion-item>
    </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar  color="primary" text-center>
    <button ion-button (click)="next()" color="secondary">
      Next &nbsp; &nbsp;<ion-icon name="ios-arrow-dropright-circle" item-right></ion-icon>
    </button>
  </ion-toolbar>
</ion-footer>