<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      FAQ
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-list>
    <ion-list-header>
      Expand on an item to view details
    </ion-list-header>
    <ion-item padding *ngFor="let d of data" (click)="toggleDetails(d)" wrap>
      <ion-icon color="primary" item-right [name]="d.icon"></ion-icon>
      {{d.title}}
      <div *ngIf="d.showDetails">{{d.details}}</div>
    </ion-item>
  </ion-list>
</ion-content>
